main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;


    img {
        width: 100%;
        object-fit: cover;
        max-height: 260px;
    }

    section {
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-top: -50px;
        padding-bottom: 30px;
        border-radius: 35px 35px 0px 0px;

        .title {
            display: flex;
            margin: 0;
            flex-direction: row;
            padding: 20px 15px 10px 15px;
            justify-content: space-between;
        }

        h1 {
            font-family: Shrikhand;
        }

        .menu {
            display: flex;
            flex-direction: column;
            padding: 15px;

            &menu__title {
                margin-bottom: 10px;
                padding-bottom: 5px;
                width: 10%;
                border-bottom: 3px solid $colortertiary;
                text-transform: uppercase;
                font-weight: 300;
            }           
        }
    }
}

.list {
    display: flex;
    flex-direction: row;
    background-color: $blank;
    border-radius: 15px;
    
}